<!doctype html>
<html ng-app="mastermindUi" ng-cloak="">
  <head>
    <meta charset="utf-8">
    <title>Mastermind!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="wrapper">

      <div
        layout="{{main.phase == 'welcome' ? 'row' : 'column'}}"
        layout-align="{{main.phase == 'welcome' ? '' : 'center center'}}"
        ng-controller="MainController as main"
        ng-class="main.phase"
        >
        <section class="jumbotron animated" layout="column" layout-align="center center">
          <h1>Mastermind!</h1>
          <form name="login" ng-if="main.phase == 'welcome'" novalidate>
            <div class="row">
              <div class="input-field">
                <input id="name" type="text" ng-model="main.name" autofocus="" required="">
                <label for="name">Name</label>
              </div>
            </div>
            <button
              class="waves-effect waves-light btn orange"
              ng-click="main.start(main.name)"
              ng-disabled="login.$invalid"
              ng-class="{'accent-2': login.$invalid}"
              >Start Game!</button>
          </form>
        </section>

        <div class="container" ng-if="main.phase == 'playing'">
          <div class="options" layout="row" layout-align="center center">
            <div class="tile"></div>
            <div class="tile" ng-repeat="color in main.model.colors">
              <div
                class="btn waves-effect waves-light"
                ng-class="color.css"
                ng-click="main.guessNext(color)"
                ></div>
            </div>
            <div class="tile"></div>
          </div>
          <div class="guess" layout="row" layout-align="center center">
            <div class="tile"></div>
            <div class="tile" ng-repeat="color in main.model.guess track by $index">
              <div
                class="btn waves-effect waves-light"
                ng-class="color.css"
                ng-click="main.resetGuess($index);"
                ></div>
            </div>
            <div class="tile">
              <button
                ng-click="main.sendGuess()"
                ng-show="main.model.guessComplete"
                class="waves-effect waves-light btn green darken-2 send">
                <i class="material-icons">send</i>
              </button>
            </div>
          </div>
          <div class="attempts">
            <div
              class="attemp"
              layout="row"
              layout-align="center center"
              ng-repeat="result in main.model.pastResults track by $index"
              >
              <div class="tile">
                <div class="info">
                  {{result.exact}}
                  <small>Exact</small>
                </div>
              </div>
              <div class="tile" ng-repeat="color in result.guess track by $index">
                <div
                  class="btn waves-effect waves-light"
                  ng-class="color.css"
                  ></div>
              </div>
              <div class="tile last">
                <div class="info">
                  {{result.near}}
                  <small>Near</small>
                </div>
              </div>
            </div>
          </div>

          <div class="fixed-action-btn" style="bottom: 55px; right: 24px;">
            <button class="btn-floating btn-large red" ng-click="main.start(main.name)">
              <i class="large material-icons">cached</i>
            </button>
            <ul>
              <li>
                <button class="btn-floating yellow darken-1" ng-click="main.name = ''; main.phase = 'welcome'">
                  <i class="material-icons">face</i>
                </button>
              </li>
            </ul>
          </div>

        </div>
      </div>

      <footer class="page-footer">
        <div class="container">
          <i class="material-icons">code</i> with <i class="material-icons">favorite</i> and <acme-malarkey extra-values="['Java', 'Jersey', 'Redis', 'Angular', 'Material']"></acme-malarkey>
        </div>
     </footer>

    </div>




    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
